html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

ul,
li,
nav {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	outline: none
}

a:hover,
a:active,
a:visited {
	text-decoration: none;
	color: #fff;
}

#navigator {
	display: flex;
	background-color: #3a8dfd;
	padding: 20px;
}

#navigator>li {
	font-size: 30px;
	width: 50%;
	text-align: center;
	color: #fff;
}

#main-title {
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
	padding: 20px;
	color: #3a8dfd;
}

.word-list {
	padding-top: 30px;
	height: 590px;
	display: flex;
	justify-content: center;
	background-color: #dbeaff;
	overflow-y: scroll;
}

.list-body {
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 20px;
	grid-template-columns: 1fr 1fr;
	align-self: self-start;
}

.word-item {
	flex: 1;
	margin: 5px;
}